.recipe {
  border-bottom: 3px solid rgb(92, 87, 87);
  height: 80px;
  padding: 5px;
}
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

strong {
  background-color: rgb(233, 121, 121);
  color: rgb(73, 47, 47);
}
